{% from "macros.html" import nav_link with context %}
<html data-bs-theme="dark">
  <head>
    <title>{% block title %}{% endblock %}</title>
    {% block head %}
    <!-- JQuery -->
    <script
  src="https://code.jquery.com/jquery-3.7.1.min.js"
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
  crossorigin="anonymous"></script>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- <script src="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js
"></script>
    <link
      href="
https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css
"
      rel="stylesheet"
    /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <script src="{{url_for('static', filename='external/js/chess.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='external/css/chessboard-1.0.0.min.css')}}"
    />
    <script src="{{url_for('static', filename='external/js/chessboardjs-1.0.0/chessboard-1.0.0.min.js')}}"></script>
    {% endblock %}
  </head>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <ul>
      {% for message in messages %}
      <li>{{message}}</li>
      {% endfor %}
    </ul>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
  {% endif %}
{% endwith %}
  <body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand bg-dark-subtle">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Chess Opening Trainer</a>
        </div>
        <ul class="nav navbar-nav ml-auto">
          <li class="dropdown" style="width:28ch">
            <button type="button" id="nickname-dropdown" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
              Default nickname
            </button>
            <form class="dropdown-menu p-4 w-100" id="nickname-form">
              <div class="mb-3">
                <label for="change-nickname-form" class="form-label">New nickname</label>
                <input type="text" maxlength="25" class="form-control" id="change-nickname-form" placeholder="Default">
              </div>
              <button type="submit" class="btn btn-secondary">Change nickname</button>
            </form>
          </li>
          {% for (endpoint, text) in [('index.choose_opening', 'Choose opening'),
          ('index.new_game', 'Start new game')] %} {{ nav_link(endpoint, text,
            curr_endpoint == endpoint) }} {% endfor %}
            <li class="nav-item ml-auto px-2">
              <button
              class="btn btn-sm btn-light"
              id="toggle-mode"
              onclick="toggleMode()"
              >
              Light mode
            </button>
          </li>
        </ul>
        </ul>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <footer class="mt-auto">
      <div class="container">
        <hr />
        <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-center">
            <p>© 2024 <strong>Krzysztof Łukasiewicz</strong></p>
            <a
              href="https://github.com/MasterOfChess/chess-trainer"
              class="link-secondary"
              >github</a
            >
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
<script>
  var app_color_mode = "{{color_mode}}";
  setColorMode(app_color_mode);
  function setColorMode(mode) {
    app_color_mode = mode;
    if (app_color_mode === "dark") {
      document.querySelector("html").dataset.bsTheme = "dark";
      document.querySelector('#toggle-mode').innerHTML = "Light mode";
      document.querySelector('#toggle-mode').classList.add('btn-light');
      document.querySelector('#toggle-mode').classList.remove('btn-dark');
    } else {
      document.querySelector("html").dataset.bsTheme = "light";
      document.querySelector('#toggle-mode').innerHTML = "Dark mode";
      document.querySelector('#toggle-mode').classList.add('btn-dark');
      document.querySelector('#toggle-mode').classList.remove('btn-light');
    }
  }
  function toggleMode() {
    ("Fire");
    $.post("{{url_for('index.toggle_color_mode')}}", {}, function(data) {
      app_color_mode = data.color_mode;
      setColorMode(app_color_mode);
    });
  }
  var current_nickname = "{{current_nickname}}";
  setNickname(current_nickname);
  $('#nickname-form').on('submit', function () {
    ('Change nickname');
    setNickname(document.querySelector('#change-nickname-form').value);
    $.post("{{url_for('index.change_nickname')}}", {nickname: current_nickname}, function(data) {
      
    });
  });
  function setNickname(nickname) {
    current_nickname = nickname;
    document.querySelector('#nickname-dropdown').innerHTML = nickname;
  }
</script>
{% block after_body %}

{% endblock %}
