{% macro nav_link(endpoint, text, is_active) %}
<li class="nav-item px-2">
  <a
    class="nav-link {{ 'active' if is_active else '' }}"
    href="{{ '#' if endpoint == '#' else url_for(endpoint) }}"
    >{{ text }}</a
  >
</li>
{% endmacro %} {% macro nav_bar(tabs, curr_endpoint) %}
<nav class="navbar navbar-expand bg-dark-subtle">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Chess Opening Trainer</a>
    </div>
    <ul class="nav navbar-nav ml-auto">
      {% for (endpoint, text) in tabs %} {{ nav_link(endpoint, text,
      curr_endpoint == endpoint) }} {% endfor %}
    </ul>
  </div>
</nav>
{% endmacro %}

{% macro play_button() %}
<div class="container-fluid">
  <button
    id="play-button"
    type="button"
    class="btn btn-lg btn-secondary mt-3 w-75"
  >
    Play
  </button>
</div>
{% endmacro %}

{% macro eval_bar_radio() %}
<div class="container-fluid hstack p-2 justify-content-center">
  <input
    type="radio"
    class="btn-check"
    name="options-base"
    id="eval-bar-on"
    autocomplete="off"
    checked
  />
  <label class="btn" for="eval-bar-on">Eval bar on</label>

  <input
    type="radio"
    class="btn-check"
    name="options-base"
    id="eval-bar-off"
    autocomplete="off"
  />
  <label class="btn" for="eval-bar-off">Eval bar off</label>
</div>
{% endmacro %}

{% macro board_column() %}
<div class="col-5 align-items-center container-fluid h-100">
  <div class="row">
    <div class="col g-0">
      <div class="container-fluid p-2 mb-1">
        <div id="border-top" class="card border-3 border-secondary">
          <div class="card text-bg-secondary">
            <div class="card-text mt-2">
              <h5 class="card-title">{{current_opponent}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="height: 500px">
    <div class="col-1 vstack g-0 p-1">
      <div class="card border-2 h-100 w-75 border-secondary align-self-end">
        <svg id="eval-bar-top" width="100%" height="50%">
          <rect
            id="eval-bar-top-rect"
            width="100%"
            height="100%"
            x="0"
            y="0"
            rx="0"
            ry="0"
            fill="black"
          />
        </svg>
        <svg id="eval-bar-bot" width="100%" height="50%">
          <rect
            id="eval-bar-bot-rect"
            width="100%"
            height="100%"
            x="0"
            y="0"
            rx="0"
            ry="0"
            fill="white"
          />
        </svg>
      </div>
    </div>
    <div class="col-11 g-0 position-relative">
      <svg
        id="board-svg"
        class="position-absolute top-0 start-0 z-1"
        width="500"
        height="500"
        xmlns="http://www.w3.org/2000/svg"
        style="opacity: 0.8; pointer-events: none"
      ></svg>
      <div
        id="board"
        class="position-absolute top-0 start-0 z-0"
        style="width: 500px"
      ></div>
    </div>
  </div>
  <div class="row">
    <div class="col g-0">
      <div class="container-fluid p-2 mb-1 mt-1">
        <div id="border-bot" class="card border-3 border-secondary">
          <div class="card text-bg-secondary">
            <div class="card-text mt-2">
              <h5 class="card-title">{{current_nickname}}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro nice_number(n) %}
{% if n < 1000 %}
n
{% else %} 
{{ '{} 000'.format(n // 1000) if n < 1000000 else '{:.1f} million'.format(n / 1000000) }}
{% endif %}
{% endmacro %}
