src/static/books/big_book.bin filter=lfs diff=lfs merge=lfs -text
src/static/books/semi_slav.bin filter=lfs diff=lfs merge=lfs -text
src/static/books/tree.bin filter=lfs diff=lfs merge=lfs -text
src/static/books/* filter=lfs diff=lfs merge=lfs -text
