{% extends "layout.html" %}
{% block title %}Choose Opening{% endblock %}
{%block head %} {{super()}} {% endblock %}
{% block body %}
{{super()}}
<div class="container">
  <div class="row align-items-center" style="margin-top: 20px">
    <h1>Choose an opening</h1>
    <ul>
      {% for opening in openings_list %}
      <li>
        <a href="{{ url_for('openings', name=opening.book) }}"
          >{{ opening.text }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
