{% extends "layout.html" %} {% block title %}Chess Opening Trainer {% endblock
%} {% block head %} {{super()}}
<link
  rel="stylesheet"
  href="{{url_for('static', filename='css/play.css')}}"
  type="text/css"
/>
{% endblock %} {% block body %} {{super()}}
<div class="container text-center h-75">
  <div class="row align-items-center h-100" style="margin-top: 20px">
    <div class="col">
      <div class="container-fluid mb-3">
        <div class="card border-1 border-dark">
          <div class="card">
            <div
              class="card-header text-bg-secondary"
              style="background: var(--bg-gradient)"
            >
              <strong>PGN</strong>
            </div>
            <div class="card-body bg-light text-dark">
              <h6 class="card-title">
                {%if player_color == 'white' %} {{current_nickname}} -
                {{current_opponent}} {% else %} {{current_opponent}} -
                {{current_nickname}} {% endif %}
              </h6>
              <p class="card-text">
                <span id="pgn"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <a
          id="download-button"
          href="{{url_for('index.play.download_pgn')}}"
          role="button"
          class="btn btn-lg btn-secondary mt-3 w-50"
          style="background: var(--bg-gradient)"
        >
          Download PGN file
        </a>
      </div>
    </div>
    <div class="col-5 align-items-center container-fluid h-100">
      <div class="row">
        <div class="col g-0">
          <div class="container-fluid p-2 mb-1">
            <div id="border-top" class="card border-3 border-secondary">
              <div class="card text-bg-secondary">
                <div class="card-text mt-2">
                  <h5 class="card-title">{{current_opponent}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-1 vstack g-0 p-1">
          <div class="card border-2 h-100 w-75 border-secondary align-self-end">
            <svg id="eval-bar-top" width="100%" height="50%">
              <rect
                id="eval-bar-top-rect"
                width="100%"
                height="100%"
                x="0"
                y="0"
                rx="0"
                ry="0"
                fill="black"
              />
            </svg>
            <svg id="eval-bar-bot" width="100%" height="50%">
              <rect
                id="eval-bar-bot-rect"
                width="100%"
                height="100%"
                x="0"
                y="0"
                rx="0"
                ry="0"
                fill="white"
              />
            </svg>
          </div>
        </div>
        <div class="col-11 g-0">
          <div id="board" class="h-100"></div>
        </div>
      </div>
      <div class="row">
        <div class="col g-0">
          <div class="container-fluid p-2 mb-1 mt-1">
            <div id="border-bot" class="card border-3 border-secondary">
              <div class="card text-bg-secondary">
                <div class="card-text mt-2">
                  <h5 class="card-title">{{current_nickname}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="container-fluid hstack p-2 justify-content-center">
        <input
          type="radio"
          class="btn-check"
          name="options-base"
          id="eval-bar-on"
          autocomplete="off"
          checked
        />
        <label class="btn" for="eval-bar-on">Eval bar on</label>

        <input
          type="radio"
          class="btn-check"
          name="options-base"
          id="eval-bar-off"
          autocomplete="off"
        />
        <label class="btn" for="eval-bar-off">Eval bar off</label>
      </div>
      <div class="container-fluid mt-3">
        <label for="bot-lvl-form" class="form-label">Bot lvl: 10</label>
        <input
          type="range"
          class="form-range"
          min="1"
          max="20"
          id="bot-lvl-form"
        />
      </div>
      <div class="container-fluid mt-3 mb-3">
        <label for="freedom-degree-form" class="form-label"
          >Freedom degree: 3</label
        >
        <input
          type="range"
          class="form-range"
          min="1"
          max="5"
          id="freedom-degree-form"
        />
      </div>
      <div class="container-fluid">
        <button
          id="play-button"
          type="button"
          class="btn btn-lg btn-secondary mt-3 w-75"
        >
          Play
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block after_body %}
<script>
  var player_on_move = "noone";
  var player_color = "{{player_color}}";
</script>
<script
  type="text/javascript"
  language="javascript"
  src="{{url_for('static', filename='play_advanced.js')}}"
></script>
{% endblock %}
